* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: inherit;
}

body {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(./background.png);
    height: 100%;
    position: relative;
}

#banner {
    height: 50px;
    background-image: url(./bannerbackground.png);
    background-repeat: repeat-x;
}

#banner__img-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.banner__img {
    height: 100%;
    pointer-events: none;
    user-select: none;
}

#page-header {
    font-size: 24px;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    margin: 20px 0;
}

#content {
    border: 4px solid gray;
    width: 800px;
    margin: 0 auto;
}



.content__top-container {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: row;
}

/* Begin: Left-container */
.content__left-container {
    width: 550px;
}

.content__rotten-section {
    background: url(./rottenbackground.png);
    background-size: contain;
    background-repeat: repeat-x;
    display: flex;
    height: 83px;
}

.left-container__icon {
    pointer-events: none;
    user-select: none;
}

.left-container__header {
    font-size: 48px;
    font-weight: bold;
    color: red;
    padding: 10px 0;
}

.left-container__sub-header {
    color: white;
    margin-top: 50px;
}

.content__review {
    /* border: 1px solid blue; */
    height: calc(100% - 83px);
    display: flex;
}

.content__review-left-col,
.content__review-right-col {
    width: 47%;
    margin: 2% 0;
}

.content__review-left-col {
    margin: 2% 2%;
}

/* Begin: Review section */

.content__review-box {
    margin-bottom: 3em;
}

.content__review-box-comment {
    background-color: #E1D697;
    border: 2px solid gray;
    padding: 8px;
    font-weight: bold;
}

.content__review-box-comment > img {
    float: left;
    margin-right: 5px;
}

.content__review-box-comment > p {
    line-height: 1.4;
    min-height: 25px;
}

.content__review-box-critic {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.content__review-box-critic > img {
    margin-right: 5px;
}

.content__review-box-critic > p > span {
    font-style: italic;
}
/* End: Review section */

/* End: Left-container */


/* Begin: Right-container */
.content__right-container {
    background-color: #A2B964;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
}

.content__movie-poster > img {
    width: 100%;
}

.content__movie-about {
    padding: 10px;
}

dl {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

dd {
    margin-left: 40px;
}

.content__movie-about > dl > dt {
    margin-top: 1em;
    font-weight: bold;
}

/* End: Right-container */


/* Begin: Bottom-container */
.content__bot-container {
    text-align: center;
    padding: 5px;
    background-color: #A2B964;
}

/* End: Bottom-container */

#checker {
    position: absolute;
    bottom: 1px;
    right: 16%;
}